$article-social-width: 70px;

.article__background {
	background-color: white;
	position: relative;
}

.article__wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 40px 0 20px;

	@media (min-width: $bp-medium) {
		// max-width: 900px;
		// margin: 0 auto;
	}

	@media (min-width: 1440px) {
		// margin-left: calc(50% - 648px);
	}

	@media (max-width: $bp-medium) {
		// padding-left: 12px;
		// padding-right: 18px;
	}
}

.article__title {
	margin: 0 0 12px;
	font-size: 28px;
	font-family: $font-primary;
	font-weight: 900;
	line-height: 1.2;
	color: $brand-black;
}

.article__headline {
	margin: 0 0 36px;
	font-size: 14px;
	display: flex;
	align-items: center;
	white-space: pre;
	line-height: 1.3;

	hr {
		width: 2px;
		height: 24px;
		display: inline-block;
		margin: 0 12px;
	}
}

.article__media {
}

.article__social-wrapper {
	.social {
		margin-top: 36px;
		height: 72px;
		justify-content: space-around;
	}
}

.article__social-wrapper--static {
	display: none;

	.social {
		height: 48px;
		margin-bottom: 24px;
		justify-content: space-evenly;			
	}

	@media (max-width: $bp-medium) {
		display: block;
	}
}

.article__social-wrapper--sticky {
	position: fixed;

	.social {
		margin-top: 0;
		height: auto;
		flex-direction: column;

		&__list-item {
			margin-bottom: 40px;
		}
	}

	@media (max-width: $bp-medium) {
		display: none;
	}
}

.article__hero-img {
	@media (min-width: $bp-medium) {
		max-width: calc(100% - #{$article-social-width});
	}
	@media (min-width: $bp-desktop) {
		max-width: initial;
		max-height: 50vh;
	}
}

.article__delimeter {
	margin: 1rem 0 1rem;

	@media (min-width: $bp-medium) {
		margin: 3rem 0 3rem;
	}
}