.dropdown {
    margin: 12px auto 0;
	outline: none;
	position: relative;
	transition: box-shadow .1s linear;
	width: 100%;

	&__trigger {
		height: 40px;
		cursor: pointer;
		display: flex;
		align-items: center;
		font-weight: 500;
	}

	i {
		font-size: 18px;
		margin-left: 3px;
	}

	label {
		font-weight: 400;
	}

	&__content {
		background: #fff;
		border-radius: 0 0 5px 5px;
	    z-index: 1;
		// padding: 10px;
		position: absolute;
		top: 36px;
		width: 100%;
	}

	&__item {
		padding: 12px;
		border-bottom: solid 2px $brand-grey-lightest;
		transition: background .1s linear;

		&:hover {
			background: $brand-grey-light;
			// color: #fff;
			// font-weight: 500;
			cursor: pointer;
		}
	}
	
	&.active {
		i {
			transform: scaleY(-1);
		}
	}
	
	&:hover > .trigger,
	&.active > .trigger {
		background: #2196F3;
		color: #fff;
	}
	
	&.active > .trigger {
		background: #2196F3;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		color: #fff;
	}
}