@keyframes image {
	0% {
		opacity: 0;
		// transform: scale3d(0,0,0);
	}
	10%, 100% {
		opacity: 1;
		// transform: scale3d(1,1,1);
	}
}


.home-landing {
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 40px;

	.home-news {
		margin-right: 12px;

		img {
			transform-origin: bottom right;
			// transform: scale3d(0,0,0);
			opacity: 1;
			animation: image 6s $easing1 infinite;
			animation-fill-mode: forwards;;
		}
	}


	.home-news__tiles {
		display: flex;
		background: white;
	}

	.home-news__tile {
		display: flex;
		position: relative;
		border-bottom: 2px solid $brand-grey-lightest;

		&:last-child {
			border-bottom: none;
		}

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				img {
					animation-delay: (#{0.0 + ($i * 0.06)}s);					
				}
			}
		}
	}

	.home-news__main-tile {
		flex: 1;
		display: flex;
		flex-direction: column;
		position: relative;

		.home-news__tile-title {
			font-size: 28px;
			font-weight: 900;
			line-height: 1.2;
			color: $brand-black;
		}
		.home-news__tile-meta {
			border-right: 2px solid $brand-grey-lightest;
			position: initial;
			padding: 24px 60px 24px 24px;
		}
	}

	.home-news__tile-title {
		display: block;
		font-size: 18px;
		font-weight: 900;
		line-height: 1.22;
		color: $brand-black;
	}
	.home-news__tile-date {
		font-size: 12px;
		font-weight: normal;
		color: $brand-grey-dark;

	}
	.home-news__tile-social {
		font-size: 12px;
		font-weight: normal;
		color: $brand-grey-darkest;
		flex: 1;
		display: flex;
		align-items: flex-end;
		width: 100%;

		ul {
			display: flex;
		}

		li {
			display: flex;
			align-items: center;
			margin-right: 12px;
		}
	}

	.home-news__main-img {
		width: 100%;
		display: block;
		@include aspect-ratio(16, 9);

		img {
			width: 100%;
		}
	}

	.home-news__img {
		order: 2;
		flex: 1;
		display: block;
		@include aspect-ratio(1, 1);

		img {
			width: 100%;
		}
	}

	.home-news__tile-meta {
		flex: 1.5;
		padding: 18px 36px 18px 24px;
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		i {
			font-size: 18px;
			margin-right: 3px;
		}
	}

	.home-news__secondary-tiles {
		flex: 1;
	}

	.home-news__tile-tags {
		font-size: 14px;
		font-weight: 500;
		color: $brand-red;
		margin-bottom: 6px;
		display: block;

		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.home-news__more-link {
		color: white;
		font-size: 16px;
		font-weight: 500;
		background-color: $brand-blue;
		padding-left: 24px;
		height: 48px;
		display: flex;
		align-items: center;
		&:hover {
			color: white;
		}
		.icon-arrow-long-right {
			margin-left: 10px;
			font-size: 18px;
		}
	}

	@media screen and (max-width: $bp-medium) {
		.home-news {
			margin-right: 0;
		}

		.home-news__tiles {
			flex-direction: column;
		}

		.home-news__main-tile, 
		.home-news__secondary-tiles,
		.home-news__tile-social,
		.home-news__tile-meta {
			flex: auto;
		}

	}
}
