.home-profile-setup {
	background: $brand-blue;
	background: linear-gradient(to bottom right, $brand-blue, darken($brand-blue, 4%));

	h1, h2, h3, h4, h5, p, i {
		color: white;
	}

	p {
		margin-top: 6px;
		font-size: 24px;
		margin-right: 30%;
	}

	.icon-home-logo {
		font-size: 40px;
		position: fixed;
		top: 60px;
		left: 60px;
	}

	section {
		opacity: 1;
		padding: 210px 60px 120px;
		display: flex;
		flex-direction: column;
		// justify-content: center;

		&.moving {
			animation: fadeInUp 1.6s $easing3;
			animation-fill-mode: forwards;
		}

		.contents {
			display: flex;
			margin-top: 24px;

			.selectbox__wrapper {
				margin-right: 24px;
			}
		}

		.mdc-button {
			margin-top: 40px;
			padding-left: 0;
			font-size: 21px;

			i {
				font-size: 16px;
			}
		}
	}

	&__nav {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 60px;
		// background: darken($brand-blue, 10%);
		height: 80px;
		justify-content: space-between;

		li a {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 90px;

			i {
				display: flex;
				justify-content: center;
				align-items: center;
				background: darken($brand-blue, 0%);
				border-radius: 50%;
				border: solid 2px white;
				width: 30px;
				height: 30px;
				font-size: 24px;
				color: transparent;
			}

			span {
				margin-top: 6px;
				color: white;
				font-weight: 500;
			}

			&.completed {
				i {
					color: white;
				}
			}
		}
	}

	&__nav-line {
		display: flex;
		position: absolute;
		top: 14px;
		left: 0;
		background: rgba(white,.24);
		height: 2px;
		width: 100%;
	}

	&__nav-line-inner {
		transform-origin: left;
		transition: all 1.6s $easing2;
		// position: absolute;
		// top: 0;
		// left: 0;
		background: white;
		width: 90px;
		height: 100%;

		&:last-child {
			background: transparent;
		}
	}

	&__nav-line-main {
		width: 100%;
		flex: 1;
		transform: scaleX(0);
	}

	@keyframes fadeInUp {
		0% {
			opacity: 0.4;
		}
		100% {
			opacity: 1;
		}
	}

	.search-bar {
		opacity: 1;

		.react-autosuggest__input {
			border-width: 2px;
			padding-left: 48px;
		}

		.react-autosuggest__suggestions-container {
			position: absolute;
			background: $brand-blue;
			border: solid 1px white;
		}

		.react-autosuggest__section-title {
			display: none;
		}

		i {
			font-size: 40px;
			left: 0;
			right: auto;

			&.icon-search:before {
				content: "\EA41";
			}
		}
	}

	.tags-wrapper {
		.tag {
			color: white;
			border-width: 2px;
			border-color: white;
			background: transparent;
			border-radius: 0;
			font-size: 14px;
		}

	}

	@media screen and (max-width: $bp-medium) {
		.icon-home-logo {
			top: 24px;
			left: 24px;
		}
		p {
			margin-right: 0;
		}
		section {
			padding: 120px 24px;

			.contents {
				flex-direction: column;
			}
		}
		.home-profile-setup__nav {
			padding: 0;
		}
		.home-profile-setup__nav-line-inner {
			width: 40px;
		}
		.home-profile-setup__nav-line-main {
			width: 100%;
		}
	}
}