

$baseclass: 'home-links-page';

@keyframes circles {
	0%, 18% {
		box-shadow: 0em 0em 0 -0.33333em #8ce8c3, 0em 0em 0 -0.33333em #8be7c2, 0em 0em 0 -0.33333em #90d2fa, 0em 0em 0 -0.33333em #91d1f9, 0em 0em 0 -0.33333em #90d2fa, 0em 0em 0 -0.33333em #91d1f9, 0em 0em 0 -0.33333em #90d2fa, 0em 0em 0 -0.33333em #91d1f9, 0em 0em 0 -0.33333em #90d2fa, 0em 0em 0 -0.33333em #91d1f9, 0em 0em 0 -0.33333em #90d2fa, 0em 0em 0 -0.33333em #91d1f9, 0em 0em 0 -0.33333em #90d2fa, 0em 0em 0 -0.33333em #91d1f9;
	}
	22% {
		box-shadow: -1.13137em -1.13137em 0 -0.13333em #8ce8c3, -1.37888em -1.15702em 0 -0.13333em #8be7c2, 0.17914em -1.58994em 0 -0.13333em #90d2fa, 0.04488em -1.79944em 0 -0.13333em #91d1f9, 1.35476em -0.85125em 0 -0.13333em #90d2fa, 1.43484em -1.08685em 0 -0.13333em #91d1f9, 1.51021em 0.52845em 0 -0.13333em #90d2fa, 1.74434em 0.44416em 0 -0.13333em #91d1f9, 0.52845em 1.51021em 0 -0.13333em #90d2fa, 0.74032em 1.64071em 0 -0.13333em #91d1f9, -0.85125em 1.35476em 0 -0.13333em #90d2fa, -0.82118em 1.60177em 0 -0.13333em #91d1f9, -1.58994em 0.17914em 0 -0.13333em #90d2fa, -1.76431em 0.35666em 0 -0.13333em #91d1f9;
	}
	51% {
		box-shadow: -2.82843em -2.82843em 0 -0.06667em #dcc83a, -2.68375em -1.74284em 0 -0.23333em #dcc83a, 0.44786em -3.97485em 0 -0.06667em #ddc248, -0.31068em -3.18488em 0 -0.23333em #dec247, 3.3869em -2.12813em 0 -0.06667em #ddc248, 2.29634em -2.22864em 0 -0.23333em #dec247, 3.77553em 1.32112em 0 -0.06667em #ddc248, 3.17416em 0.40582em 0 -0.23333em #dec247, 1.32112em 3.77553em 0 -0.06667em #ddc248, 1.66178em 2.73468em 0 -0.23333em #dec247, -2.12813em 3.3869em 0 -0.06667em #ddc248, -1.10196em 3.00428em 0 -0.23333em #dec247, -3.97485em 0.44786em 0 -0.06667em #ddc248, -3.0359em 1.01159em 0 -0.23333em #dec247;
	}
	81%, 100% {
		box-shadow: -3.39411em -3.39411em 0 -0.33333em #f7bd0c, -3.35468em -2.17856em 0 -0.33333em #f7bd0c, 0.53743em -4.76982em 0 -0.33333em #f7bd0c, -0.38835em -3.9811em 0 -0.33333em #f7bd0c, 4.06428em -2.55375em 0 -0.33333em #f7bd0c, 2.87042em -2.7858em 0 -0.33333em #f7bd0c, 4.53064em 1.58534em 0 -0.33333em #f7bd0c, 3.9677em 0.50727em 0 -0.33333em #f7bd0c, 1.58534em 4.53064em 0 -0.33333em #f7bd0c, 2.07722em 3.41835em 0 -0.33333em #f7bd0c, -2.55375em 4.06428em 0 -0.33333em #f7bd0c, -1.37745em 3.75535em 0 -0.33333em #f7bd0c, -4.76982em 0.53743em 0 -0.33333em #f7bd0c, -3.79487em 1.26449em 0 -0.33333em #f7bd0c;
	}
}

@keyframes star {
	0%, 18% {
		transform: scale3d(0, 0, 0);
	}
	44% {
		transform: scale3d(1.25, 1.25, 1.25);
	}
	62% {
		transform: scale3d(1, 1, 1);
	}
	81% {
		transform: scale3d(1.10, 1.10, 1.10);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}


.#{$baseclass} {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 60px 0 72px;
	height: calc(100% - 120px);

// *::selection {
// 	background: yellow;
// }

&__sidebar, &__links-container .scroll-section {
	margin-top: 24px;
}

.search-row {
	display: flex;
	justify-content: flex-end;

	input {
		font-size: 18px;
		color: $brand-black;
		border-color: $brand-grey-darkest;
		padding: 9px 32px 9px 40px;
	}
	.icon-search-2 {
		right: auto;
		left: 0;
		color: $brand-black;
	}
	.icon-close-sm {
		right: 6px;
		font-size: 16px;
		top: 14px;
		color: $brand-black;
		cursor: pointer;
	}
	.search-bar {
		width: 32%;
		margin: 24px 0 0 0;
		margin-left: 2%;
		opacity: 1;
	}
	.react-autosuggest {
		@mixin hover() {
			font-weight: normal;
			background: $brand-grey-light;
		}
		&__suggestions-container {
			position: absolute;
			background: white;
			top: 42px;
			width: 100%;
			max-height: 424px;
			overflow-y: scroll;
			box-shadow: 0px 2px 12px rgba($brand-black, .12);
			border-radius: 0;
		}
		&__suggestion {
			border-bottom: solid 1px $brand-grey-light;
			padding: 12px;

			&:hover {
				@include hover();
			}

			&:last-child {
				border-bottom: none;
			}
		}
		&__suggestion--highlighted {
			@include hover();
		}
	}

}

&__sidebar {
		// position: absolute;
		// top: 0;
		// left: 0;
		width: 20%;

		ul {
			margin-top: 24px;
		}

		li {
			margin-bottom: 12px;
			font-size: 14px;

			a {
				color: $brand-black;
				display: inline-flex;
				flex-direction: column;
				transition: all 0.3s 0.3s $easing1;

				&.active {
					font-weight: 500;

					.line {
						transform: scaleX(1);
					}
					~.active {
						font-weight: normal;
						.line {
							transform: scaleX(0);
						}
					}
				}
			}

			.line {
				width: 100%;
				height: 4px;
				background: $brand-red;
				transition: transform 0.3s 0.3s $easing1;
				transform-origin: left;
				transform: scaleX(0);
			}
		}
	}

	&__links-container {
		width: 78%;
		margin-left: 2%;

		h1, h2, h3, h4, h5, h6 {
			width: 100%;
		}

		> div {
			padding-right: 12px;
			height: 100%;
			width: 100%;
			overflow-y: auto;
		}

		.scroll-section {
			height: auto;
			display: flex;
			flex-wrap: wrap;
			overflow: hidden;

			&:nth-child(2) {
				margin-top: 6px;
			}

			&.hidden {
				display: none;
			}

			> h1, > h2, > h3, > h4, > h5, > h6 {
				margin-bottom: 18px;
			}

			hr {
				width: 100%;
				margin: 24px 0 12px;
				background: $brand-grey-light;
			}

			.#{$baseclass}__pagination {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: left;

				.card {
					width: 32%;

					// &:nth-child(3n + 4) {
					// 	margin-right: 2%;
					// }

					// &:nth-child(3n + 3) {
					// 	margin-right: 0;
					// }
				}

				.mdc-button {
					margin: 0 auto;
				}
				hr {
					margin: 6px 0 24px;
				}			
			}


			.card {
				margin-bottom: 2%;
				margin-right: 2%;
				width: 32%;
				padding: 18px 24px;
				min-height: 140px;
				box-shadow: none;
				transition: all 0.2s $easing4;
				transform: none;
				// cursor: auto;

				h5 {
					display: flex;
					align-items: flex-start;
					line-height: 1.2;
					margin-bottom: 18px;
				}

				p {
					// cursor: text;
					font-size: 14px;
					line-height: 18px;
					user-select: all; 
					color: $brand-grey-darkest;
				}

				.circles {
					border-radius: 50%;
					display: block;
					height: 12px;
					width: 12px;
					position: absolute;
					z-index: -1;
					transform: translate(3px,3px) scale(0.34);
					transform-origin: center;
				}

				.icon-star-outline, .icon-star-fill {
					margin-top: 0px;
					margin-right: 12px;
					font-size: 18px;
					// cursor: pointer;
				}

				.icon-star-outline {
					&:hover {
						color: $brand-red;
					}
				}

				.icon-star-fill {
					color: $brand-red;
				}

				&:nth-child(3n + 4) {
					margin-right: 0;
				}

				&.starAnimation {
					.icon-star-fill {
						animation: star 0.9s ease-in;
					}
					.circles {
						animation: circles 0.9s ease-in;
					}
				}
			}
		}
	}

	&--alphabetical {
		.#{$baseclass}__sidebar {
			ul {
				display: flex;
				flex-wrap: wrap;
				width: 120px;
			}
			li {
				// line-height: 1;
				// margin-bottom: 2px;
				text-align: center;
				width: 14px;
				margin-right: 24px;
			}
			.line {
				// height: 3px;
			}
		}
	}

	@media screen and (max-width: $bp-medium) {
		padding: 0 12px;
		height: auto;
		flex-direction: column;

		.search-row {
			position: fixed;
			width: calc(100% - 24px);
			top: 120px;
		    z-index: 9;
		    background: #F3F3F3;

			.search-bar {
				width: 100%;
				margin-left: 0;
				margin-top: 18px;
			}			
		}
		
		.#{$baseclass}__sidebar {
			width: 100%;
			position: relative;
			display: flex;
			justify-content: space-around;
		    background: #f3f3f3;

			ul {
				display: none;
			}

			.dropdown {
				z-index: 10;
				justify-content: flex-end;
				margin-top: 0;

				&__content {
					width: 200px;
				}
				&__item {
					padding: 18px 12px;
				}
			}
		}

		.#{$baseclass}__links-container {
			margin: 0;
			width: 100%;

			> div {
				padding-right: 0;
			}

			.scroll-section {

				&:nth-child(2) {
					margin-top: 72px;
				}

				> h1, > h2, > h3, > h4, > h5, > h6 {
					font-size: 16px;
				    text-transform: uppercase;
				    margin-bottom: 12px;
				}

				.mdc-button {
				    width: 100%;
				}

				.card, .#{$baseclass}__pagination .card {
					width: 100%;
					margin-right: 0;
					margin-bottom: 12px;

					h1, h2, h3, h4, h5, h6 {
						span {
							margin-top: 2px;							
						}
					}

					.circles {
					    transform: translate(6px, 3px) scale(0.34);
					}

					.icon-star-outline, .icon-star-fill {
						margin-top: -2px;
						font-size: 24px;
					}
				}
			}
		}
	}
}