$baseclass: home-nav;

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translate3d(40px,0,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.#{$baseclass} {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;

	hr {
		margin: 0;
		height: 2px;
		width: 100%;
		background-color: $brand-grey-light;

		&:first-of-type {
			background: $brand-grey-lightest;
		}
	}

	&__topbar {
		display: flex;
		align-items: center;
		padding: 0 72px;
		height: 60px;
		width: 100%;
		max-width: 1440px;
		// background: white;
		// border-bottom: solid 2px $brand-grey-light;

		&:first-child {
			border-color: $brand-grey-lightest;
		}
	}

	&__left {
		flex: 1;
	}

	&__right, &__items {
		display: flex;
		align-items: center;
	}

	.search-bar {
		opacity: 1;
		margin: 0;

		.react-autosuggest__container {
			position: relative;
			width: 100%;

			@mixin placeholder-style() {
				opacity: 1;
				color: $brand-grey-dark;
			}

			::-webkit-input-placeholder {
				@include placeholder-style();
			}

			::-moz-placeholder {
				@include placeholder-style();
			}

			:-ms-input-placeholder {
				@include placeholder-style();
			}

			:-moz-placeholder {
				@include placeholder-style();
			}

		}

		.react-autosuggest__input {
			padding-left: 60px;
			font-size: 21px;
			color: $brand-black;
		}

		i {
			font-size: 40px;
			right: auto;
			left: 0;
			top: 2px;
		}
	}

	.icon-bell {
		cursor: pointer;
	}

	.icon-bell, .icon-chat, .icon-search-2 {
		font-size: 30px;
		color: $brand-black;
	}

	#first-top-bar .icon-search-2 {
		font-size: 36px;
	}

	p {
		font-size: 21px;
		color: $brand-grey-dark;
		min-width: 130px;
	}

	#second-top-bar .icon-chat {
		border-left: solid 1px $brand-grey-light;
		padding: 3px 18px;
	}


	&__item {
		position: relative;
		padding: 0 18px;
		margin-right: 24px;
		min-height: 40px;
		display: flex;
		align-items: center;
		// border-left: solid 1px $brand-grey-light;
		border-right: solid 1px $brand-grey-light;

		&:not(:last-child) {
			margin-right: 0;
		}

		&:first-child {
			padding-left: 0;
		}

		img {
			height: 38px;
			width: 38px;
			border: solid 3px $brand-grey-light;
			border-radius: 50%;
		}

		.notifications-marker {
			position: absolute;
			background: $brand-red;
			border: solid 2px white;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			top: -1px;
			right: 15px;
		}
	}

	.icon-home-logo {
		color: $brand-red;
		font-size: 36px;
	}

	.tabbed-list {
		flex: 1;
		display: flex;
		flex-direction: column;

		i {
			color: white;
		}

		&__header {
			ul {
				padding: 0 72px;
			}
			li {
				text-transform: uppercase;
				font-weight: bold;
				opacity: 0.6;
				color: white;

				&.active {
					opacity: 1;
				}
			}
		}

		&__line-container {
			background: rgba(white, .12);
		}

		&__line {
			background: white;
		}

		&__content {
			overflow-y: scroll;
			height: 100%;
			margin-right: 6px;
		}
	}

	&__hamburger {
		display: flex;
		width: 26px;
		height: 18px;
		cursor: pointer;
		flex-direction: column;
		justify-content: space-between;

		.line {
			transition: transform $easing2 0.6s;
			background: $brand-black;
			height: 2px;
			border-radius: 1px;
			width: 100%;
		}
	}

	&__notifications {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 60px;
		width: 100%;
		z-index: 9999;
		margin-top: -2px;
		height: calc(100vh - 60px);
		transition: all $easing1 0.6s;

		> div {
			position: absolute;
			background: white;
			width: 320px;
			right: 196px;
			top: 0;
			border: solid 2px $brand-grey-lightest;
		}

		h5 {
			padding-left: 24px;
			line-height: 48px;
			// margin: 24px 0;
			border-bottom: solid 2px $brand-grey-lightest;
		}
	}

	&__notifications__row {
		position: relative;
		display: flex;
		align-items: center;
		height: 60px;
		padding: 0 24px;
		border-bottom: solid 2px $brand-grey-lightest;
		cursor: pointer;

		p {
			color: $brand-black;
			margin-left: 24px;
			padding-left: 18px;
			border-left: solid 2px $brand-grey-light;
			font-size: 18px;
		}

		.indicator-value {
			position: absolute;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			font-weight: 600;
			background: $brand-red;
			color: white;
			width: 18px;
			height: 18px;
			margin-left: 24px;
			margin-top: 3px;
			border-radius: 50%;
		}

		i {
			display: flex;
			align-items: center;
			justify-content: center;
			border: solid 1px $brand-grey-dark;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			font-size: 24px;
			color: $brand-blue;
		}
	}

	&__main {
		position: absolute;
		width: 100%;
		z-index: 9999;
		pointer-events: none;
		height: calc(100vh - 60px);
		top: 60px;
		transition: all $easing1 0.6s;
	}

	&__panel {
		pointer-events: auto;
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 480px;
		right: 0;
		height: 100%;
		transition: transform $easing1 0.6s;
		transform: translate3d(100%, 0,0);

		h1, h2, h3, h4, h5, h6 {
			display: inline-block;
			border-bottom: solid 4px transparent;
			transition: border-color 0.3s $easing1;
		}

		h3 {
			padding-bottom: 2px;
		}

		h5 {
			font-weight: 500;
			border-width: 3px;
		}

		hr {
			height: 3px;
		}

		ul {
			padding: 40px 72px 24px;
		}

		li {
			opacity: 0;
			transform: translate3d(40px, 0,0);
			cursor: pointer;
			transition: none;
			width: auto;
		}
	}

	&__panel--white {
		background: white;
		border-top: solid 2px $brand-grey-lightest;

		h1, h2, h3, h4, h5, h6 {
			&:hover {
				// border-color: $brand-red;
				border-color: $brand-grey-light;
			}
			&.active {
				// color: $brand-red;
				border-color: $brand-red;

				// &:after {
				// 	content: ""; 
				// 	position: absolute;
				// 	display: block; 
				// 	margin: 0 auto; 
				// 	width: 50%; 
				// 	padding-top: 2px; 
				// 	border-bottom: 4px solid $brand-red; 
				// }
			}
		}

		h5 {
			margin-bottom: 12px;
		}

		ul {
			&:first-child {
				flex: 1;
			}
		}
	}

	&__panel--blue {
		background: $brand-blue;

		h1, h2, h3, h4, h5, h6 {
			color: white;

			&:hover {
				border-color: white;
			}
		}

		.icon-arrow-long-left {
			font-size: 30px;
			color: white;
			transform: scaleY(-1);
		}

		li {
			// transform: translate3d(24px, 0,0);
		}

		h5 {
			margin-bottom: 24px;
		}

		&:hover {
			::-webkit-scrollbar {
				width: 6px;
			}

			::-webkit-scrollbar-thumb {
				background-color: rgba(white, .4);
				border-radius: 6px;
			}
		}


		// ::-webkit-scrollbar-track {
		// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		// }

	}

	&--sticky {
		.#{$baseclass}__topbar, hr {
			position: fixed;
			width: 100vw;
			@include zIndexCloser();
		}
		#first-top-bar, #second-top-bar {
			height: 60px;
			background: white;
		}
		#second-top-bar {
			top: 60px;
		}
		hr {
			@include zIndexClosest();
			&:first-of-type {
				top: 60px;
			}
			&:nth-of-type(2) {
				top: 120px;
			}
		}

	}


	&--menuOpen {
		.#{$baseclass}__hamburger {
			.line {
				opacity: 0;
				&:first-child {
					opacity: 1;
					transform: translate3d(0,10px,0) rotate(135deg);
				}
				&:last-child {
					opacity: 1;
					transform: translate3d(0,-6px,0) rotate(45deg);
				}
			}
		}
		.#{$baseclass}__main {
			background: rgba($brand-black, .40);
		}

		.#{$baseclass}__panel {
			li {
				transition: all $easing1 0.9s;
				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						transition-delay: 0.09s * $i;
					}
				}
			}
		}

		.#{$baseclass}__panel--white {
			transform: none;


			li {
				transform: none;
				opacity: 1;

				// animation: slideIn 0.9s $easing1;
				// animation-fill-mode: forwards;
				// @for $i from 1 through 30 {
				// 	&:nth-child(#{$i}) {
				// 		animation-delay: 0.09s * $i;
				// 	}
				// }
			}
		}
	}

	&--secondaryPanelOpen {
		.#{$baseclass}__panel--white {
			transform: translate3d(-100%,0,0);
		}
		.#{$baseclass}__panel--blue {
			transform: none;

			li {
				transform: none;
				opacity: 1;

				// animation: slideIn 0.9s $easing1;
				// animation-fill-mode: forwards;
				// @for $i from 1 through 30 {
				// 	&:nth-child(#{$i}) {
				// 		animation-delay: 0.09s * $i;
				// 	}
				// }
			}
		}
	}
	&--notificationsOpen {
		.#{$baseclass}__notifications {
			background: rgba($brand-black, .40);
			opacity: 1;

			> div {
			    pointer-events: auto;
			}
		}
		.icon-bell {
			color: $brand-red;
		}
	}
	@media screen and (max-width: $bp-medium) {
		.#{$baseclass}__topbar {
			padding: 0 12px;
		}
		.#{$baseclass}__item {
			h5 {
				font-weight: 800;
				margin-bottom: 0;
			}
		}
		hr {
			&:last-of-type {
				display: none;
			}
		}
		#second-top-bar {
			display: none;
		}
		.tabbed-list__line-container {
			padding: 0 12px;
		}
		// .#{$baseclass}__main {
		// 	min-height: calc(100vh - 60px);
		// 	height: auto;
		// }
		.#{$baseclass}__panel {
			width: 100%;
			hr {
				display: block;
			}
			ul {
				padding: 24px 12px 24px;
			}
			.#{$baseclass}__items {
				margin-bottom: 18px;
				padding: 0;

				.#{$baseclass}__item {
					&:last-child {
						border-right: none;
					}
				}
			}
		}
		.#{$baseclass}__panel--white {
			height: auto;
			min-height: calc(100vh - 60px);
		}
		.#{$baseclass}--menuOpen {
			opacity: 0;
		}
		.#{$baseclass}__panel--blue {
			height: calc(100vh - 60px);
		}
		.tabbed-list__header {
			ul {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		&.#{$baseclass}--secondaryPanelOpen {
			.#{$baseclass}__panel--white {
				li {
					transform: translate3d(-40px,0,0);
					opacity: 0;
				}
			}
		}
	}
}