.home-news {
  @media (min-width: $bp-medium) {
    display: flex;
  }
}

.home-news__tile {
  display: flex;
  position: relative;
  border: 1px solid $brand-grey-lightest;
}

.home-news__main-tile {
  flex: 1;
  position: relative;
  border: 1px solid $brand-grey-lightest;

  .home-news__tile-title {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.14;
    color: $brand-black;
  }
  .home-news__tile-meta {
    position: initial;
    padding: 25px 25px 40px;
  }
}

.home-news__tile-title {
  display: block;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.22;
  color: $brand-black;
}
.home-news__tile-date {
  font-size: 12px;
  font-weight: normal;
  color: $brand-grey-dark;
  position: absolute;
  bottom: 15px;
  left: 25px;
}
.home-news__tile-social {
  font-size: 12px;
  font-weight: normal;
  color: $brand-grey-darkest;
  position: absolute;
  bottom: 15px;
  right: 25px;
  ul {
    display: flex;
    width: 85px;
    justify-content: space-between;
    align-items: center;
  }
}

.home-news__main-img {
  width: 100%;
  display: block;
  @include aspect-ratio(16, 9);
}

.home-news__img {
  order: 2;
  display: block;
  @include aspect-ratio(1, 1);
  flex: 1;
}

.home-news__tile-meta {
  flex: 1.5;
  padding: 15px 25px 35px;
  position: relative;
}

.home-news__secondary-tiles {
  flex: 1;
}

.home-news__tile-tags {
  font-size: 14px;
  font-weight: 500;
  color: $brand-red;
  margin-bottom: 2px;
  display: block;
}

.home-news__more-link {
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: $brand-blue;
  padding-left: 35px;
  height: 63px;
  display: flex;
  align-items: center;
  &:hover {
    color: white;
  }
  .icon-arrow-long-right {
    margin-left: 10px;
    font-size: 1.5rem;
  }
}