.image-upload {
	form {
		position: relative;
		width: 220px;
		height: 220px;
		border: solid 2px white;
	}

	input {
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		cursor: pointer;
	}

	&__bottom {
		position: absolute;
		bottom: 0px;
		display: flex;
		align-items: center;
		pointer-events: none;
		width: 100%;

		i {
			font-size: 48px;
		}

		p {
			font-size: 18px;
			margin: 0;
		}
	}

	&__bottom--uploaded {
		background: rgba(black, .6);
	}

	.imgPreview {
		position: absolute;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}