.mdc-accordion {
	&__header, &__content {
		padding-right: 12px;
	}
	&__header {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		margin-bottom: 6px;
		margin-right: 6px;
		border-bottom: solid 1px $brand-grey-light;

		h1, h2, h3, h4, h5 {
			margin: 0;
		}
	}

	&__content {
		overflow: hidden;
		max-height: 0;
		// transition: all $easing2 0.3s;

		li {
			display: flex;
			line-height: 1.2;
			margin: 24px 0;
			// height: 48px;
			// align-items: center;
		}
	}

	&--open {
		.mdc-accordion__content {
			max-height: 100%;
		}
	}
}