@mixin transition() {
	transition: all 1.2s $easing2;
}

.mdc-switcher {
	// padding-top: 94px;
	display: flex;
	flex-direction: column;
	background-color: white;
	
	section {
		background-image: 
		linear-gradient(to top right, rgba(#1E1E1E, .60), rgba(#B1B1B1, .12)),
		url('../img/Running-Man.jpg');
		background-size: cover;
		background-position: left top;
		color: white;
		height: 90vh;
		border-bottom: none;

		h1 {
			margin-top: 60px;
		}
	}


	h1, h2, h3, i {
		color: white;
	}

	&__tile-container {
		position: relative;
		transform: translateY(-60px);
	}

	&__tiles {
		position: relative;
		flex-direction: row;
		background: $brand-black;

		&:hover {
			.mdc-switcher__tile {
				width: 15%;
				opacity: 0.6;

				h1, h2, h3 {
					opacity: 0;
				}
			}
		}
	}

	&__tile {
		// cursor: pointer;
		color: white;
		margin: 0;
		width: 50%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		padding: 72px;
		height: 90vh;
		@include transition();

		i {
			font-size: 60px;
			margin-bottom: 24px;
		}

		h1 i {
			font-size: 40px;
		}

		h1, h2, h3, i {
			// @include transition();
			// transition-duration: 0.6s;

			// @for $i from 1 through 4 {
			// 	&:nth-child(#{$i}) {
			// 		transition-delay: 0.12s * $i; 
			// 	}
			// }
		}

		&:hover {
			width: 85% !important;
			opacity: 1 !important;		

			h1, h2, h3, .mdc-switcher__searchbox, .mdc-button, .search-bar {
				opacity: 1 !important;
			}
		}

		&:first-child {
			background-color: $brand-blue;			

			&:hover {
				background-color: darken($brand-blue, 1%) !important;
			}
		}

		&:last-child {
			background-color: $brand-magenta;

			&:hover {
				background-color: darken($brand-magenta, 1%) !important;
			}
		}
	}

	.mdc-button {
		position: absolute;
		bottom: 48px;
		justify-content: flex-start;
		background-color: transparent;
		color: white;
		padding-left: 0;
		margin-top: 12px;
		opacity: 0;


		i {
			margin: 0;
			margin-left: 9px;
			font-size: 16px;
		}
	}

	.search-bar {
		opacity: 0;
		align-items: flex-start;
		@include transition();

		input {
			::placeholder {
				color: white;
			}
		}
	}

	.react-autosuggest__section-title {
		display: none;
	}

	.react-autosuggest__input {
		border-bottom: solid 1px white;
		color: white;
	}

	.react-autosuggest__container {
		position: relative;
		width: 100%;

		@mixin placeholder-style() {
			color: white;
		}

		::-webkit-input-placeholder {
			@include placeholder-style();
		}

		::-moz-placeholder {
			@include placeholder-style();
		}

		:-ms-input-placeholder {
			@include placeholder-style();
		}

		:-moz-placeholder {
			@include placeholder-style();
		}

	}
}