$item-width: 120px;

$baseclass: mdc-nav;

.#{$baseclass} {
	position: relative;
	height: 94px;

	&--scrolled {
		.#{$baseclass}__topbar {
			height: 60px;
		}
		.#{$baseclass}__hoverbar {
			transform: scaleY(0);
			transition: all 0.9s 0s $easing2;
		}
		.#{$baseclass}__logo {
			transform: scale(0.72);
		}
		.#{$baseclass}__right {
			transform: scale(0.72);
		}
		.#{$baseclass}__center ul li {
			transform: translateY(-90px);
			opacity: 0;
		}
	}

	&--takeover {
		.#{$baseclass}__hoverline {
			transform: none;
		}
		.#{$baseclass}__hovermain {
			opacity: 1;
			pointer-events: auto;
		}

	}

	&__hoverbar {
		height: 4px;
		background: white;
		position: absolute;
		display: flex;
		justify-content: center;
		top: 90px;
		width: 100%;
		background: white;
		transition: all 0.9s 0.9s $easing2;
		box-shadow: 0 -6px 0px 6px white;
		// transform: translateY(1px);
	}

	&__hoverline {
		background: $brand-red;
		height: 4px;
		width: $item-width;
		// transform: translate3d(-($item-width),0,0);
		opacity: 0;
		transition: transform 0.9s $easing2;
	}

	&__hoverlines {
		display: flex;
		width: $item-width * 6;
		display: flex;
	}

	&__topbar {
		position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 90px;
		padding: 0 60px;
		max-width: 1440px;
		width: 100%;
		background: white;
		transform-origin: top;
		transition: all 0.9s 0s $easing2;
		box-shadow: 0 2px 24px 0 rgba($brand-black, .09);
	}

	&__left, &__center ul, &__right {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__left {
		width: 165px;
		display: flex;
		flex-direction: column;
		// align-items: center;
		text-align: center;

		// img {
		// 	width: 180px;
		// }

		// h5 {
		// 	text-transform: uppercase;
		// 	font-size: 10px;
		// 	line-height: 1.5em;
		// 	color: $brand-grey-dark;
		// }
	}

	&__logo {
		transition: all 0.6s $easing4;
	}

	&__center {
		flex: 1;

		ul {
			li {
				// margin-right: 40px;

				&:last-child {
					// margin-right: 0;
				}
			}
		}
	}
	&__right {
		transition: all 0.9s $easing2;
		width: 165px;
		justify-content: flex-end\;
	}
	.icon-search {
		font-size: 24px;
		color: $brand-black;
	}
	hr {
		margin: 0 30px;
		background: $brand-grey-light;
		width: 1px;
		border: none;
		height: 30px;
	}
	li {
		min-width: $item-width;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		font-size: 16px;
		cursor: pointer;
		font-weight: 800;
		color: $brand-black;
		// letter-spacing: -0.06em;
		transition: all 0.9s $easing2;

		a {
			transition: all 0.9s $easing2;
			pointer-events: none;
			color: $brand-black;
		}

		&:hover {
			a {
				color: $brand-red;
			}
		}

		@for $i from 1 through 4 {
			&:nth-child(4n + #{$i}) {
				transition-delay: #{$i * 0.09s};
			}
		}
	}
	&__hovermain {
		background: white;
		width: 100%;
		top: 94px;
		height: 520px;
		width: 80vw;
		right: 10vw;
		position: absolute;
		display: flex;
		flex-direction: row-reverse;
		transition: all 0.9s $easing2;
		opacity: 0;
		pointer-events: none;
		border-top: solid 1px $brand-grey-lightest;
		box-shadow: 0 2px 24px 0 rgba($brand-black, .09), inset 0 2px 24px rgba(white, 1);
	}

	&__hovermaincolumn {
		flex: 1;
		padding: 24px 48px;
		overflow: hidden;
		overflow-y: scroll;

		li {
			height: auto;
			width: auto;
			justify-content: flex-start;
			padding: 12px 24px;
			margin: 0 0 3px 0;

			i {
				opacity: 0;
			}

			.mdc-button {
				text-align: left;
				padding: 0;
				font-size: 18px;
				font-weight: 400;

				&:hover {
					i {
						opacity: 1;
					}
				}
			}

			&.overview-item {
				background: $brand-blue-light;

				.mdc-button {
					font-weight: 500;
				}
			}
		}
	}

	&__takeover-nav {
		display: flex;
		align-items: center;
		padding: 0 0 18px 18px;

		.mdc-button {
			padding: 0;

			span {
				font-weight: normal;
			}
		}

		.#{$baseclass}__takeover-nav__item {
			margin: 0 18px;
			color: $brand-grey-dark;
		}

		.icon-caret-down-lg {
			margin-left: -6px;
			margin-right: -6px;
			display: block;
			transform: rotate(-90deg);
		}
	}

	&__hovermainfeatured {
		display: flex;
		flex-direction: column;
		background: $brand-blue-light;
		width: 280px;
		height: auto;
		margin: 24px 18px;
		padding: 24px 40px;
		border-radius: 2px;

		h3, li {
			color: $brand-grey-dark;
		}

		h3 {
			// font-weight: bold;
			text-transform: uppercase;
			font-size: 16px;
			margin: 0;
		}
		li {
			height: auto;
			width: auto;
			justify-content: flex-start;
			font-weight: normal;
			margin: 24px 0;
			font-size: 18px;
		}
	}
}