@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.mdc-logo {
	img {
		width: 180px;
	}

	h3 {
		font-family: 'Great Vibes', cursive;
		color: $brand-red;
		text-transform: lowercase;
		white-space: nowrap;
		margin: 0;
	}

	h5 {
		text-transform: uppercase;
		font-size: 10px;
		line-height: 1.5em;
		color: $brand-grey-dark;
	}	
}
