// @import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css');


.mdc-taxonomy-diagram {
	overflow: hidden;

	.rv-force__node, .rv-force__link, .rv-force__label {
		transition: all 0.4s $easing2;
	}

	.rv-force__node, .rv-force__link {
		cursor: pointer;
	}

	.rv-force__labels, .rv-force__label {
		pointer-events: none;  
		user-select: none;  
	}	

	&__legend {
		position: absolute;
		bottom: 18px;
		right: 18px;
		padding: 18px;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		pointer-events: none;

		h1, h2, h3, h4, h5 {
			user-select: none;  
		}
	}

	&__legend-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 3px 0;
	}

	&__legend-swatch {
		margin-left: 24px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
	}

	&__help {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		pointer-events: none;

		p, i {
			color: $brand-grey-dark;
		}

		i {
			font-size: 32px;
			margin-left: 24px;
		}
	}

	&__popout {
		overflow-y: scroll;
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 12px 18px 0;
		height: 100%;
		width: 25%;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		transition: all 0.6s 0.1s $easing3;
		transform: translate3d(-100%,0,0);

		h1, h2, h3, h4, h5 {
			word-break: break-word;
			hyphens: auto;
			line-height: 1.1em;
		}

		p {
			margin: 24px 0;
		}

		.icon-close-lg, .icon-arrow-long-right {
			display: block;
			font-size: 32px;
			width: 30px;
			cursor: pointer;
			margin-bottom: 40px;
			transform: scaleX(-1);
		}

		// &::-webkit-scrollbar {
		// 	width: 9px;
		// 	background: transparent;
		// }


		// &::-webkit-scrollbar-thumb {
		// 	background: rgba($brand-black, 0.12);
		// 	border-radius: 6px;
		// }
	}

	&__popout-main {
		.eyebrow {
			margin-bottom: 12px;
		}
	}

	&--popoutOpen {
		.mdc-taxonomy-diagram__popout {
			transform: translate3d(0,0,0);			
		}
	}
}

