$baseclass: mdc-buttons;

.#{$baseclass} {

	&__grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;		
	}

	&__tile {
		position: relative;
		background: white;
		margin: 1%;
		width: 31%;
		height: 450px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:nth-child(n+4) {
			// margin-top: 0;
		}
	}

	&__label {
		position: absolute;
		top: 12px;
		left: 18px;
	}

	&__group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 380px;

		button {
			&:first-child {
				min-width: 370px;
			}
			&:nth-child(2) {
				margin-right: 9px;
			}
			&:nth-child(2), &:nth-child(3) {
				min-width: 175px;
				margin-top: 9px;
			}
		}
	}
	&__group--stacked {
		display: flex;
		flex-direction: column;

		button {
			&:not(:last-child) {
				margin-bottom: 9px;
			}
		}
	}

	@media screen and (max-width: $bp-desktop) {

		&__tile {
			width: 48.5%;
			height: 380px;
			margin-bottom: 0;

			&:nth-child(2n-1) {
				margin-right: 0;
			}
		}
	}
}

.mdc-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	font-weight: 800;
	color: $brand-black;
	line-height: 24px;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	letter-spacing: -0.006em;
	padding: 9px 24px;
	outline: none;

	i {
		margin-right: 9px;

		&.icon-arrow-right {
			font-size: 12px;
		}
		&.icon-download {
			font-size: 16px;
		}
	}

	&--primary {
		transition: all 0.6s $easing4;
		color: white;
		background: $brand-red;

		&:hover {
			background: lighten($brand-red, 6%);
		}
	}

	&--secondary {
		border: solid 1px $brand-grey-light;
		color: $brand-black;
		transition: all 0.6s $easing4;

		&:hover {
			color: lighten($brand-red, 3%);
			border-color: lighten($brand-red, 6%);
		}
	}

	&--text-link {
		background: none;
		border: none;
		// color: $brand-black;
		transition: all 0.6s $easing4;

		span {
			border-bottom: solid 1px transparent;
			transition: all 0.6s $easing4;
		}

		i {
			margin: 0;
			margin-left: 9px;
			transition: all 0.6s $easing4;
			color: $brand-red;
		}

		&:hover {
			span {
				border-color: $brand-grey-light;				
			}
			
			i {
				transform: translateX(6px);
			}
		}
	}

	&--text-link--reverse { 
		i {
			margin-left: 0;
			margin-right: 9px;

			&:before {
				display: block;
				transform: scaleX(-1);				
			}
		}
		&:hover {
			i {
				transform: translateX(-3px);
			}
		}
	}

	&--blue {
		background: transparent;
		border-color: $brand-blue;
		color: $brand-blue;

		i {
			color: $brand-blue;
		}
	}

	&--white {
		background: transparent;
		border-color: white;
		color: white;

		i {
			color: white;
		}
	}

}