.multiselectbox {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;

	.btn {
		display: none;
	}

	.indicator {
		position: absolute;
		margin: 2px 0;
    padding: 6px 0;
    top: 2px;
		color: white;
		display: none;
		pointer-events: none;
		font-size: 14px;
	}

	i {
		position: absolute;
		right: 0;
		top: 12px;
	}

	label {
		position: absolute;
		transform-origin: top left;
		transition: all $easing4 .3s;
		top: 6px;
		color: white;
		transform: scale(1);
		pointer-events: none;
	}

	.input-area {
		background: transparent;
		margin: 0;
		border: none;
		padding: 0;
		height: 40px;
		border-bottom: solid 1px white;

		@mixin placeholder-style() {
			color: white;
			opacity: 0.4;
		}

		::placeholder {
			@include placeholder-style();
		}

		::-webkit-input-placeholder {
			@include placeholder-style();
		}

		::-moz-placeholder {
			@include placeholder-style();
		}

		:-ms-input-placeholder {
			@include placeholder-style();
		}

		:-moz-placeholder {
			@include placeholder-style();
		}

		> div {
			display: flex !important;
			flex-wrap: wrap;
			overflow: hidden;
			height: 40px;
			width: 100%;
			padding-right: 10%;
			pointer-events: none;
			position: absolute;

			.tags {
				background: transparent;
				white-space: nowrap;
				margin: 2px 0;
				padding: 6px 0;

				span {
					pointer-events: none;
					color: transparent;
					position: relative;
					margin-left: 3px;

					&:after {
						display: inline;
						left: 0;
						content: ',';
						// opacity: 0.6;
						color: white;
						position: absolute;
					}
				}

				&:last-child {
					span {
						&:after {
							opacity: 0;
						}
					}
				}
			}
		}
	}

	.input-box {
		opacity: 0;
		margin: 0;
		padding: 0;
		outline: none;
		height: 100%;
		width: 100%;
		color: white;
		background: transparent;
		border: none;
	}

	.option {
		margin: 0;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		font-size: 14px;
		padding: 9px;

		span {
			display: block;
			color: transparent;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			border: solid 1px white;
			margin-right: 12px;
		}

		&.active {
			span {
				background: white;          
			}
		}

		&:hover {
			background: darken($brand-blue, 6%);
		}
	}

	.option-area {
		position: absolute;
		width: 100%;
		background: darken($brand-blue, 2%);
		margin: 0;
		border-color: rgba(white, .8);
		max-height: 235px;
	}

	&--focused {
		.input-box {
			opacity: 1;
		}
		.tags {
			display: none;
		}
		i {
			transform: scaleY(-1);
		}
	}

	&--label-shrink {
		label {
			top: -12px;
			transform: scale(0.7);
		}
	}
	&--show-indicator {
		.indicator {
			display: block;
		}
	}

	&--lg {
		label {
			font-size: 18px;
			transition-timing-function: $easing2;
		}
		.input-box {
			font-size: 14px;
		}
		.option {
			font-size: 18px;
			padding: 12px;
		}
		.option-area {
			max-height: 266px;
		}
		&.multiselectbox--label-shrink {
			label {
				top: -18px;
			}
		}
	}
}