.social {
	display: flex;

	i {
		color: $brand-black;
		font-size: 21px;
	}
}

.social__list-item {
	position: relative;
	
	a {
		background-color: $brand-grey-lightest;
		cursor: pointer;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	i {
		display: block;
	}

	&:hover {
		i {
			color: $brand-red;			
		}
	}

	&:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}

	.icon-like-fill {
		animation: thumbsUp $easing3 $duration-longest;
	}


	&.animating {
		&.social__link {
			a {
				background-color: transparent;				
			}

			i {
				opacity: 0;
			}
		}

		&.social__like {
			a {
				animation: thumbsUp $easing3 $duration-medium;
			}
		}

		.checkmark {
			display: block;
		}

		.social__likes-counter {
			animation: likesCounter $duration-long $easing3;
		}
	}
}

.social__text {
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	bottom: -32px;
	width: 100%;
	height: 32px;
}

@keyframes thumbsUp {
	0% {
		transform: scale(1);
	}
	1% {
		transform: scale(0);
	}
	20% {
		transform: scale(0);
	}
	35% {
		transform: scale(1.4);
	}
	40% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.15);
	}
	65% {
		transform: scale(1);
	}
	90% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes likesCounter {
	0% {
		opacity: 0;
		transform: translate3d(0,100%,0);
	}
	30%, 70% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
	100% {
		opacity: 0;
		transform: translate3d(0, -50%, 0);
	}
}

.social__likes-counter {
	opacity: 0;
	top: -40px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $brand-black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	color: white;
	// animation-fill-mode: forwards;
}

@include checkmark();

.checkmark {
	width: 40px;
	height: 40px;
}

@media (max-width: $bp-medium) {
	.social__text {
		bottom: auto;
	}
}


