@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@mixin checkmark($color: $brand-green) {
	@keyframes stroke {
		100% {
			stroke-dashoffset: 0;
		}
	}

	@keyframes scale {
		0%, 100% {
			transform: none;
		}
		50% {
			transform: scale3d(1.2, 1.2, 1);
		}
	}

	@keyframes fill {
		100% {
			box-shadow: inset 0px 0px 0px 30px;
		}
	}

	.checkmark {
		position: absolute;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: none;
		stroke-width: 2;
		stroke: #fff;
		left: 0;
		top: 0;
		color: $color;
		stroke-miterlimit: 10;
		box-shadow: inset 0px 0px 0px;
		animation: 
		fill $duration-short $easing1 $duration-short forwards, 
		scale $duration-short $easing4 $duration-longer;

		&__circle {
			stroke-dasharray: 166;
			stroke-dashoffset: 166;
			stroke-width: 2;
			stroke-miterlimit: 10;
			stroke: $color;
			fill: none;
			animation: stroke $duration-medium $easing3 forwards;
		}

		&__check {
			transform-origin: 50% 50%;
			stroke-dasharray: 48;
			stroke-dashoffset: 48;
			animation: stroke $duration-medium $easing3 $duration-long forwards;
		}

	}
}