body, button, input, select, textarea {
  font-family: "Circular Std";
  font-variant-ligatures: none;
}

.title {
    font-weight: 800;
    letter-spacing: -0.006em;
}

.subtitle {
  letter-spacing: -0.012em;
  font-weight: 400;
}

a {
  // color: lighten(#000099, 18%);
}

// overflow: hidden;
// animation: hideMenu 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
// /* animation: hideMenu cubic-bezier(0.19, 1, 0.22, 1) 1.8s; */
// animation-fill-mode: forwards;

@keyframes hideMenu {
  0% {
    transform: translateX(0);
    width: 25%;
  }
  50% {
    transform: translateX(-100%);
    width: 25%;
  }
  100% {
    transform: translateX(-100%);
    width: 0px;
    padding: 0px;
  }
}

h1, h2, h3, h4, h5, h6, p {
  color: $brand-black;  

  &.no-mb {
    margin: 0;
  }

  &.eyebrow {
    text-transform: uppercase;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

p, input {
  font-size: 16px;
}

p {
  line-height: 1.3;
  margin-bottom: 12px;
}

blockquote {
  font-size: 20px;
  line-height: 1.3;
}

h1 {
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 30px;

  &.long {
    font-size: 60px;
    line-height: 72px;
  }
  &.longest {
    font-size: 48px;
    line-height: 60px;
  }
}

h2 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 24px;
}

h3 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 18px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 9px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}

h6 {
  font-size: 12px;
  line-height: 14px;
}

.tag {
    align-items: center;
    background-color: $brand-grey-lightest;
    border-radius: 2px;
    color: $brand-grey-darkest;
    display: inline-flex;
    // font-size: 0.75rem;
    max-height: 2em;
    justify-content: center;
    line-height: 1.5em;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 12px;
    white-space: nowrap;
}