$bp-xlarge: 1800px;
$bp-large: 1400px;
$bp-desktop: 1100px;
$bp-medium: 800px;
$bp-small: 600px;
$bp-xsmall: 480px;

$font-primary: 'Circular Std', sans-serif;

$easing1: cubic-bezier(0.215, 0.61, 0.355, 1);
$easing2: cubic-bezier(.19,1,.22,1);
$easing3: cubic-bezier(0.86, 0, 0.07, 1);
$easing4: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$duration-short: 0.3s;
$duration-medium: 0.6s;
$duration-long: 0.9s;
$duration-longer: 1.2s;
$duration-longest: 1.8s;

$delay-short: 0.06s;
$delay-medium: 0.09s;
$delay-long: 0.12s;
$delay-longer: 0.18s;

$brand-white: #F9F9F9;

$brand-grey-lightest: #F4F4F4;
$brand-grey-light: #D8D8D8;
$brand-grey-dark: #888B8D;
$brand-grey-darkest: #63666A;
$brand-black: #212121;

$brand-grey-blue: #8A98A6;

$brand-blue: #000099;
$brand-blue-alt: #1724A9;
$brand-magenta: #CC0099;
$brand-red: #CA001B;
$brand-blue-light: #F9FAFB;
$brand-green: #6AC14C;


$brand-primary-bwi: #E57310;
$brand-secondary-bwi: #D36F49;
		
$brand-primary-dps: #053C61;
$brand-secondary-dps: #A99A69;

$brand-primary-ethicon: #ED1C23;
$brand-secondary-ethicon: #D9EAE3;

$brand-primary-mentor: #30689E;
$brand-secondary-mentor: #F5A623;
