@import 'variables.scss';

.video-js  {
	.vjs-control-bar {
		height: 4em;
	}
	button {
		outline: none;

		&.vjs-big-play-button {
			bottom: 0;
			left: 0;
			position: absolute;
			margin-right: auto;
			transition: all 0.6s $easing3;
			margin-left: .48em;
			margin-bottom: .48em;
			margin-top: auto;
			border: solid 2px;
			width: 1.5em;
			height: 1.5em;
			line-height: 1.4em;
			font-size: 3.24em;
		}
	}
	.vjs-dock-text {
		display: none;
	}
	&:hover {
		button {
			&.vjs-big-play-button {
				background-color: rgba(0, 0, 0, 0.6);
			}
		}
	}
}

.vjs-has-started.vjs-paused.vjs-user-active:not(:hover) .vjs-control-bar,
.vjs-has-started.vjs-paused.vjs-user-inactive:not(:hover) .vjs-control-bar {
	transition: all 0.6s $easing3;
	transform: translateY(4em);
}